* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::selection {
  background-color: #fff;
  color: #0A0C0F;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
  font-weight: var(--font-weight-main-text);
  font-size: var(--text-fz);
  line-height: 125%;
  color: var(--text-color);
  background: var(--full-background-color);

  overflow-x: hidden;
}
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.section {
  border-radius: 64px;
  background-color: var(--background-color);
  margin: 4px 0;
  padding: 120px 0;
}

.title {
  font-weight: var(--font-weight-title);
  font-size: var(--title-fz);
  line-height: 92%;
  letter-spacing: -0.07em;
  color: var(--text-color);
  text-shadow: 0px 32px 64px rgba(var(--text-color-rgb), 0.08);
}

.button {
  display: block;
  padding: 24px 48px;
  background: #FFFFFF;
  border: none;
  border-radius: 24px;
  font-family: var(--main-font);
  font-weight: var(--font-weight-button);
  font-size: var(--button-fz);
  line-height: 133%;
  text-align: center;
  letter-spacing: -0.024em;
  color: var(--background-color);
  transition: .2s ease;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.7);
  }
  span {
    letter-spacing: 0;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #577CFF 0%, #4CBFFF 100%);;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #7e57ff 0%, #4c85ff 100%);;
  background-clip: content-box;
}

@media screen and (max-width: 1199px) {
  .container {
    padding: 0 15px;
    max-width: 994px;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 880px;
  }
  .title {
    --title-fz: 110px;
  }
  .section {
    border-radius: 48px;
    padding: 100px 0;
  }
  .button {
    padding: 18px 32px;
    border-radius: 18px;
  }
}

@media screen and (max-width: 899px) {
  :root {
    --button-fz: 20px;
  }
  .container {
    max-width: 748px;
  }
  .title {
    --title-fz: 90px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 80px 0;
  }
  .title {
    --title-fz: 80px;
  }
}

@media screen and (max-width: 679px) {
  .title {
    --title-fz: 70px;
  }
  .section {
    border-radius: 24px;
  }
}