@media screen and (max-width: 1240px) {
  .instruction-item__descr {
    max-width: 559px;
  }
}

@media screen and (max-width: 1200px) {
  .instruction-item__descr {
    max-width: 455px;
  }
  .instruction-item__img {
    width: auto;
  }
  .instruction-item__img img {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .instruction__title {
    margin-bottom: 80px;
  }
  .instruction-item__step {
    margin-bottom: 26px;
  }
  .instruction-item__title {
    --subtitle-fz: 70px;
  }
  .instruction-item__text {
    --text-fz: 28px;
    font-size: var(--text-fz);
    line-height: 125%;
  }
  .instruction-item__descr {
    max-width: 425px;
  }
  .instruction-item--3 .instruction-item__text {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 899px) {
  .instruction__title {
    max-width: 600px;
  }
  .instruction-item__descr {
    max-width: 350px;
  }
  .instruction-item__step {
    --additional-info-fz: 14px;
    margin-bottom: 20px;
  }
  .instruction-item--1 .instruction-item__text--small {
    margin-bottom: 18px;
  }
  .instruction-item--3 .instruction-item__text {
    margin-bottom: 30px;
  }
  .instruction-item__title {
    --subtitle-fz: 60px;
    margin-bottom: 20px;
  }
  .instruction-item__text {
    --text-fz: 24px;
  }
}

@media screen and (max-width: 767px) {
  .instruction__title {
    max-width: 560px;
    margin-bottom: 70px;
  }
  .instruction-item__descr {
    max-width: 330px;
  }   
  .instruction-item__title {
    --subtitle-fz: 52px;
  }
  .instruction-item__text {
    --text-fz: 22px;
  }
  .instruction-item__img {
    padding: 5px;
  }
}

@media screen and (max-width: 679px) {
  .instruction__title {
    max-width: 500px;
    margin-bottom: 60px;
  }
  .instruction-item {
    gap: 15px;
  }
  .instruction-item__title {
    --subtitle-fz: 42px;
  }
  .instruction-item__step {
    padding: 6px 16px;
    border-radius: 10px;
  }
  .instruction-item__text {
    --text-fz: 20px;
  }
  .instruction-item__img {
    border-radius: 18px;
  }
}

@media screen and (max-width: 577px) {
  .instruction {
    position: relative;
    padding: 80px 0 160px;
  }
  .instruction__title {
    max-width: 400px;
    margin-bottom: 40px;
  }
  .instruction-item {
    flex-direction: column;
    gap: 20px;
  }
  .instruction-list {
    gap: 40px;
  }
  .instruction-item__descr {
    max-width: initial;
  }
  .instruction-item--3 .instruction-item__text {
    margin-bottom: 0;
  }
  .instruction-item__btn {
    position: absolute;
    bottom: 60px;
  }
  .instruction-item__img {
    padding: 10px;
  }
}

@media screen and (max-width: 479px) {
  .instruction-item__step {
    --additional-info-fz: 12px;
    border-radius: 14px;
  }
  .instruction-item__img {
    padding: 5px;
  } 
}

@media screen and (max-width: 376px) {
  .instruction {
    padding: 40px 0 100px;
  }
  .instruction__title {
    margin-bottom: 36px;
  }
  .instruction-item__title {
    --subtitle-fz: 32px;
    margin-bottom: 12px;
  }
  .instruction-item--1 .instruction-item__text--small {
    --additional-info-fz: 12px;
    margin-bottom: 12px;
  }
  .instruction-item__text {
    --text-fz: 16px;
  }
  .instruction-item__btn {
    width: calc(100% - 20px);
    bottom: 20px;
  }
}