.footer {
  background: var(--background-color);
  padding: 38px 0 56px;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }
  &-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }
  &-col {
    max-width: 210px;
    &--last {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 180px;
      font-size: 16px;
      font-size: var(--menu-fz);
      line-height: 150%;
      letter-spacing: -0.02em;
      color: rgba(var(--text-color-rgb), 0.24);
      a {
        display: inline-block;
        color: inherit;
        text-decoration: none;
        transition: .2s ease;
        &:hover {
          color: rgba(var(--text-color-rgb), 0.4);
        }
      }
    }
  }
  &-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
    &__item {
      display: flex;
      a {
        display: inline-block;
        text-decoration: none;
        font-size: var(--menu-fz);
        line-height: 120%;
        letter-spacing: -0.02em;
        color: rgba(var(--text-color-rgb), 0.56);
        border-bottom: 1px solid transparent;
        transition: .2s ease;
        &:hover {
          border-bottom: 1px solid rgba(var(--text-color-rgb), 0.7);
          color: rgba(var(--text-color-rgb), 0.7);
        }
      }
    }
    &__item--title {
      font-weight: var(--font-weight-title);
      font-size: var(--additional-fz-2);
      color: var(--text-color);
      margin-bottom: 2px;
    }
  }
}